.flexContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.passwordContainer {
  width: 100%;
  padding: 15px 15px 10px 15px;
}


.emojisKeyboardRow {
  margin-top: 10px;
  flex: 1;
  display: flex;
}

.deleteButtonContainer {
  padding: 20px;
}

.deleteButton {
  width: 315px
}

.emojiKeyboardBackground {
    background-color: white;
    padding: 0;
    width: 97px;
    height: 70px;
    border-radius: 10px;
    margin-right: 10px
}

.emojiKeyboardBackground img {
  width: 70%;
}

@media (max-width: 320px) {
  .emojiKeyboardBackground {
    width: 80px;
    height: 58px;
  }

  .deleteButton {
    width: 260px
  }
}