.questionContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.storyDiv {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px
}

.options {
  padding: 15px;
  /* border-top: 1px solid white; */
}

.storyDiv .story {
  padding: 15px;
  border: 1px solid white;
  border-radius: 8px
}

.answerButton {
  margin-top: 5px !important;
  width: 100%;
}

.answerButton.top {
  margin-top: 5px !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.answerButton.mid {
  border-radius: 0;
}

.answerButton.bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* @media (max-width: 320px) {
  .answerButton {
    margin-top: 4px !important
 }
} */
