@media (min-width: 500px) {
  .emoji-container {
    position: relative;
    margin-top: 30px;
    padding: 0 !important;
    width: 400px !important;
    height: 600px !important;
    border: 1px solid #1b212c;
    border-radius: 15px;
  }
}

@media (max-width: 499px) {
  .emoji-container {
    position: fixed;
    padding: 0 !important;
    height: 100%;
  }

  .emoji-footer {
    position: fixed !important;
  }
}

.emoji-container {
  background-color: #1b212c;
}

.emoji-header {
  /* display: block; */
  padding-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 0.8em;
  /* text-align: center; */
  background-color: #1b212c;
  color: white;
  border-bottom: 1px solid white;
  padding-left: 0 !important;
}

.emoji-body {
  /* padding: 15px; */
  height: 100%;
  color: white;
}

.emoji-footer {
  position: absolute;
  text-align: center;
  padding: 10px 15px 15px 15px;
  bottom: 0;
  width: 100%;
  color: white;
}

.emoji-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1em !important;
}
