.login-overlay2 {
    transition: opacity 0.5s;
    opacity: 1;
    position: absolute;
    top: 0;
    height: 600px;
    width: 400px;
    z-index: 9998;
    background-color: rgba(27, 33, 44, 0.95)
  }
  
  @media (min-width: 500px) {
    .login-overlay2 {
      border-radius: 15px;
    }
  }
  
  .login-overlay2 .hide {
    opacity: 0;
    pointer-events:none;
  }
  
  .login-overlay2 .result {
    color: white;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .login-overlay2 .answer {
    color: white;
    margin-top: 10px
  }
  
  .login-overlay2 .verticalAlign {
    border: 3px solid white;
  }
  
  .login-overlay-container {
    height: 100%;
    padding: 0;
  }
  
  @media (max-width: 499px) {
    .login-overlay2 {
      height: 100%;
      width: 100%;
      position: fixed;
    }
    .login-overlay2 .footer {
      position: fixed !important;
    }
  }
  
  .login-overlay2 .footer {
    position: absolute;
    padding: 10px 15px 15px 15px;
    bottom: 0;
    width: 100%;
  }
  
  .okButton {
    width: 315px
  }

  .okButtonContainer {
    padding: 20px;
  }
