@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

@media (max-width: 500px) {
  .gender-styling {
    font-size: 35vh;
    color: #1b212c;
  }
}

@media (min-width: 499px) {
  .gender-styling {
    font-size: 250px;
    color: #1b212c;
  }
}

h4 {
  text-align: center;
  margin-top: 3vh;
}

.pointer {
  cursor: pointer;
}

.gender-styling:hover {
  color: #3B4961;
}