@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

@media (max-width: 500px) { 
  .female-styling {
    font-size: 35vh;
    padding-right: 5vw;
    padding-top: 17vh;
    color: #1b212c;
  }
  
  .male-styling {
    font-size: 35vh;
    padding-top: 17vh;
    color: #1b212c;
  }

}

@media (min-width: 499px) { 
  .female-styling {
    font-size: 250px;
    margin-right: 10px;
    margin-top: 80px;
    color: #1b212c;
  }
  
  .male-styling {
    font-size: 250px;
    margin-top: 80px;
    color: #1b212c;
  }

}
h4 {
  text-align: center;
  margin-top: 3vh;
  }

 .pointer
 {
     cursor: pointer;
 }