.age-country-body {
  padding: 25px 30px 50px 30px;
  margin-bottom: 10px;
  text-align: justify;
}

.age-country-footer {
  position: absolute;
  padding: 10px 20px 15px 20px;
  bottom: 0;
  width: 100%;
  background-color: white;
}