.storyContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .storyContainer .storyDiv {
    overflow: auto;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px
  }
  
  .storyContainer .emojiDiv {
    width: 100%;
    padding: 15px;
    flex: 1
    /* margin-bottom: 15vh */
  }
  
  .storyContainer .rememberButton {
    width: 100%;
    padding: 15px
    /* margin-bottom: 15vh */
  }
  