.emojiContainer {
    position: absolute;
    width: 100%;
    bottom: 120%;
}

.emojiContainer .storyHeader {
    width: 100%;
    color: white;
    margin-bottom: 5px;
}

.emojiContainer .emojis {
    width: 100%;
    padding: 10px;
    background-color: #828391
}

.emojiContainer .emojiBackground {
    background: white;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    margin-right: 10px
}

@media (max-width: 350px) {
    .emojiContainer .emojiBackground {
        margin-right: 5px
    }
}

@media (max-width: 499px) {
    .emojiStory {
        bottom: 20vh;
    }
}