.surveyContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.questionDiv {
  overflow: auto;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.options2 {
  padding: 15px;
  width: 100%;
}

.surveyAnswerButton {
  margin-top: 5px !important;
  width: 100%;
  color: white;
  background-color: #1b212c;
}

.surveyAnswerButton.top {
  margin-top: 5px !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.surveyAnswerButton.mid {
  border-radius: 0;
}

.surveyAnswerButton.bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
