body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media (min-width: 500px) {
  .app-container {
    position: relative;
    margin-top: 30px;
    padding: 0 !important;
    width: 500px !important;
    height: 600px !important;
    border: 1px solid #1b212c;
  }
}

@media (max-width: 499px) {
  .app-container {
    position: fixed;
    padding: 0 !important;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden
  }

  .app-footer {
    position: fixed !important;
  }
}

/*@media (max-height: 499px) { 
  .app-footer {
    position: fixed !important;
  }

}
*/

@media (max-width: 320px) {
  h2,
  .h2 {
    font-size: 1.5rem !important;
  }
}

.navbar-brand {
  margin-right: 0 !important;
}

.app-header {
  background-color: #1b212c;
  color: white;
}

.app-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.app-body {
  padding: 15px 15px 50px 15px;
  margin-bottom: 10px;
  text-align: justify;
}

.app-footer {
  position: absolute;
  padding: 10px 15px 15px 15px;
  bottom: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px -2px 20px 0px white;
}

.padding-h-5 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.padding-h-15 {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.fade-in {
  transition: opacity 0.2s !important;
  opacity: 1 !important;
}

.fade-out {
  opacity: 0 !important;
  transition: opacity 0.2s !important;
  pointer-events: none !important;
}

.fade-in-with-delay {
  transition: opacity 0.2s !important;
  transition-delay: 0.3s !important;
  -webkit-transition: opacity 0.2s !important;
  -webkit-transition-delay: 0.3s !important;
  opacity: 1 !important;
}

.fade-out-with-delay {
  opacity: 0 !important;
  transition: opacity 0.2s !important;
  pointer-events: none !important;
}

span.yellow {
  color: #ffea00;
}

.margin-0 {
  margin: 0 !important;
}

/* Button design */

.btn-default {
  color: #1b212c;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #1b212c;
  background-color: #dedede;
  border-color: #ffffff;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-default .badge {
  color: #ffffff;
  background-color: #1b212c;
}
