body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media (min-width: 500px) { 
  .app-container {
    position: relative;
    margin-top: 30px;
    padding: 0 !important;
    width: 500px !important;
    height: 600px !important;
    border: 1px solid #1B212C 
  }

}

@media (max-width: 499px) { 
  .app-container {
    position: absolute;
    padding: 0 !important;
    height: 100vh;
  }

  .app-footer {
    position: fixed !important;
  }

}

/*@media (max-height: 499px) { 
  .app-footer {
    position: fixed !important;
  }

}
*/

.navbar-brand {
  margin-right: 0 !important
}

.app-header {
  background-color: #1B212C;
  color: white;

}

.app-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.app-body {
  padding: 15px 15px 50px 15px;
  text-align: justify;
}

.app-footer {
  position: absolute;
  padding: 10px 15px 15px 15px;
  bottom: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px -2px 20px 0px white;
}

.padding-h-5{
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.padding-h-15{
  padding-right: 15px !important;
  padding-left: 15px !important;
}